Source: ostserver
Section: science
Priority: optional
Maintainer: gilles <gilles@joag.fr>
Build-Depends: cmake,
               debhelper (>= 8.0.0),
               debhelper-compat (= 11),
               pkg-config,
               extra-cmake-modules (>= 1.7.0),
               qtbase5-dev,
               qtdeclarative5-dev,
               libqt5websockets5-dev,
               libqt5svg5-dev,
               libqt5sql5-sqlite,
               kdoctools-dev | libkf5doctools-dev,
               libkf5config-dev,
               libkf5guiaddons-dev,
               libkf5i18n-dev,
               libkf5newstuff-dev,
               libkf5notifications-dev,
               libkf5xmlgui-dev,
               libkf5plotting-dev,
               libkf5crash-dev,
               libkf5notifyconfig-dev,
               libeigen3-dev,
               zlib1g-dev,
               libcfitsio3-dev|libcfitsio-dev,
               libnova-dev,
               libindi-dev (>= 1.6.1),
               indi-bin (>= 1.6.1),
               wcslib-dev,
               libraw-dev,
               libgsl-dev,
               libsecret-1-dev,
               libstellarsolver-dev,
               libavahi-client-dev,
               libavahi-common-dev
Standards-Version: 4.6.0
Homepage: https://github.com/gehelem/OST
#Vcs-Browser: https://salsa.debian.org/debian/ostserver
#Vcs-Git: https://salsa.debian.org/debian/ostserver.git
Rules-Requires-Root: no

Package: ostserver
Architecture: any
Section: science
Recommends: ${shlibs:Depends}, ${misc:Depends}, libindi1, libstellarsolver
Description: Observatoire Sans Tête
 Light and headless astrophotography automation tool

